
 <div class="row mb-5">
    <div class="col-12">
    <a  *ngIf="_mascota.canEdit"
    	style="color:white;"  [routerLink]="['../nueva']" class="btn btn-success btn-lg float-right">
        <i class="fa fa-plus" aria-hidden="true"></i>
      <i class="fa fa-paw " aria-hidden="true"></i>

    </a>
  </div>
</div>
<!--style="background-color:rgba(218, 211, 211, 0.28);;"-->
<div class="card-columns animated fadeIn slow p-1" >
	<div class="animated fadeIn slow" *ngFor="let mascota of items | async; let i = index">
		<div class="card  pb-3 nimated fadeIn slow" style="width: 100%;"  >
		 <img 
		      	class="card-img-top animated fadeIn slow" 
		      	[src]="mascota.imagen" 
		      	alt="Card image cap" style="width:100%" >
		  <div class="card-block p-3">
		      
		    <h4 class="card-title">{{mascota.nombre}}</h4>

	        <p class="card-text">
	        	<strong>Fecha de rescate:</strong> 
	        	{{mascota.fecha_rescate}}
	        </p>
			<a [routerLink]="['../detalle', mascota.key]" class="btn btn-primary float-right">
				Ver más
			</a>
	        <button type="button" class="btn btn-link float-left m-0 py-0 px-1" 
	        data-toggle="modal" data-target="#exampleModalLong"
	         *ngIf="_mascota.canEdit"
	        (click)="seleccionado = mascota.key">
	        	<i class="fa fa-trash-o" aria-hidden="true"></i>
	        </button>
	         <a  class="btn btn-default float-left m-0 py-0 px-1"
	         		 *ngIf="_mascota.canEdit" 
	         		[routerLink]="['../editar', mascota.key]">
	        	<i  class="fa fa-pencil-square-o" aria-hidden="true"></i>
	        </a>
      </div>
      </div>
</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Desea eleminar este elemento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="borrar()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

