 <div class="card animated fadeIn slow" *ngFor="let mascota of items | async">
        <div class="card-block px-5">
          <div class="card-heard">
            <i class="fa fa-info-circle float-right fa-2x " aria-hidden="true"></i>
          </div>
          <div class="row">


          <div class="col-4">
        <div class="mt-4 ">
          <h5>Nombre</h5>
          {{ mascota.nombre }}</div>
        <div class="mt-4">
          <h5>Género</h5>
          {{ mascota.genero }}</div>
        <div class="mt-4">
          <h5>Edad</h5>
          {{ mascota.edad }}</div>
        <div class="mt-4">
          <h5>Fecha de rescate</h5>
          {{ mascota.fecha_rescate }}</div>
        <div  class="mt-4">
          <h5>Adoptante</h5>
          {{ mascota.persona}}</div>
        <div class="mt-4" >
          <h5>Vacunas</h5>
        
          
            <ul *ngFor="let v of vacunas | async" >
           
            <li>
               {{v}} 
            </li>

            
          </ul>
         
        
        </div>
      </div>
      <div class="col-8">
        <img [src]="mascota.imagen" alt="imagen"  class="col-12 animated fadeIn slow">
      </div>
  </div>
        </div>
        </div>